.example-card {
  max-width: 350px;
  margin: 20px;
  min-height: 500px;
  max-height: 600px;

  img {
    max-height: 350px;
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
